

    <div class="container">
        <div class="row">
        
        <div class="login">
            <h3>{{aim}}</h3>
            <h3>Sign In</h3>

            <input type="text" name="acno" id="acno" #accno (change)= "accChange($event)" [value]="account" placeholder="accountnumber">
            <br>
                                                                            

            <input type="text" name="pswd" id="pswd" #pswd (change)="pswdChange($event)" placeholder="password">
    <br>
            <button  (click)="login(accno,pswd)">Login </button>


</div>
        </div >
        </div>

