
.box1{
    border-radius: 15px;
    border-style: solid;
    background-color: #8942C1;
    color: #ffffff;
    width: 100%;
    border-width: 0.5px;
    margin-top: 20%;
    padding: 20px;
    
}
.img{
    height :200px;
    width: 200px;

}
.main{
    border-radius: 15px;
    border-style: solid;
    background-color: #8942C1;
    color: #ffffff;
    width: 100%;
    border-width: 0.5px;
    margin-top: 20%;
    padding: 20px;
    
}
